<nav class="navbar navbar-light" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">beabloo</a>
          </div>
          <div class="nav navbar-nav navbar-right">
            <button class="navbar-toggler navbar-right" type="button" (click)="setCollapse()" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>
        
     </div>
</nav>